* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
     background-image: url("img/1.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.nav-left img {
    width: 300px;
    height: auto;
    filter: drop-shadow(3px 3px red) drop-shadow(-3px -3px blue);
}

.nav-right ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding-left: 200px;

}

.nav-right a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    filter: drop-shadow(1px 1px rgb(255, 255, 255)) drop-shadow(-1px -1px rgb(0, 0, 0));

}

.nav-right button {
    border-radius: 20px;
    width: 100px;

}



.card-box {
    width: 1200px;

    margin: 40px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    height: 500px;
    margin-top: auto;
}

.card {
    background-color: rgba(66, 111, 129, 0.253);
    border: 2px solid white;
    width: 250px;
    height: 300px;
    margin-top: 20px;



}

.card-head img {
    height: 100%;
    width: 230px;
    margin-left: 8px;
}

.card-head {
    width: 300px;

}

.card-body {
    padding: 10px;

}



.card-body p {
    line-height: 1.5;
    font-size: 16px;
    filter: drop-shadow(1px 1px rgba(122, 136, 89, 0.753)) drop-shadow(-1px -1px rgba(167, 172, 240, 0.705));
}

.nur {
    display: inline;
    filter: drop-shadow(1px 1px rgb(255, 255, 255)) drop-shadow(-1px -1px rgb(0, 0, 0));
}

.nor {
    color: #ffffff;
    width: 100px;
}

.n {
    background-color: blue;
}

.na {
    background-color: red;
}



.container {
     background-image: url(./img/10.jpg); 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.nav-right ul a:hover {
    color: blue;
}

.btn1 {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    font-size: 17px;
    filter: drop-shadow(1px 1px rgba(121, 114, 52, 0.884)) drop-shadow(-1px -1px rgb(0, 0, 0));


    background-color: rgba(44, 197, 202, 0.904);
    color: rgb(238, 174, 202);

    background: linear-gradient(354deg, rgba(131, 58, 180, 1) 0%, rgb(104, 69, 69) 50%, rgba(252, 176, 69, 1) 100%);
}

.nav-right button {
    color: #ffffff;
    background: linear-gradient(354deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.nav-righta {
    color: black;
    filter: drop-shadow(1px 1px rgb(255, 255, 255)) drop-shadow(-1px -1px rgb(0, 0, 0));
}

.footer {
    background-image: url(./img/11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

}

.footer-body {
    display: flex;
    color: #ffffff;
    list-style: none;
    gap: 300px;

}



.footer-haed h4 a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.footer-haed {
    display: flex;
    gap: 200px;
    margin-left: 100px;
    margin-bottom: 15px;
    padding: 80px;
    font-size: large;

}

.footer-body ul li a:hover {
    color: red;
}

.btn1:hover {
    background: linear-gradient(rgb(255, 153, 0), rgb(255, 0, 0) 50%, rgb(0, 252, 252));
}

.footer-haed h4 a:hover {
    color: blue;
}

.footer-body ul a {
    color: #ffffff;
    text-decoration: none;

}

.footer-body ul {
    list-style: none;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-duration: 2s;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 8:40:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 8:45:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.card {
	-webkit-animation: rotate-out-diag-2 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: rotate-out-diag-2 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation-delay: 3s;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 8:55:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-out-diag-2
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-out-diag-2 {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 360deg);
              transform: rotate3d(-1, 1, 0, 360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
              transform: rotate3d(-1, 1, 0, 0deg);
      opacity: 0;
    }
  }
  @keyframes rotate-out-diag-2 {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 360deg);
              transform: rotate3d(-1, 1, 0, 360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
              transform: rotate3d(-1, 1, 0, 0deg);
      opacity: 0;
    }
  }
.footer-body    {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            margin-left: 250px;
            animation-delay: 4s;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 9:5:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
 